.checkoutContainer {
  display: grid;
  grid-template-columns: 1fr minmax(500px, 500px);
  min-height: 100vh;
  .checkoutCards {
    border-top: 1px solid lightgrey;
    padding: 3rem;
    > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .checkoutSummary {
    background-color: lightgrey;
    padding: 3rem;
    .totalAmountContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .totalMoney {
        font-weight: bolder;
        font-size: 2em;
        margin-top: 1rem;
      }
    }
  }
}
