.menu {
  padding: 1.5rem;
  position: sticky;

  .menuLinksWrapper {
    display: flex;
    justify-content: flex-end;

    .menuLink {
      list-style: none;
      margin: 0 1.5rem;
      cursor: pointer;

      > a {
        color: initial;
      }
    }
  }
}
