.productCardContainer {
  min-height: 400px;
  -webkit-box-shadow: 5px 3px 7px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 3px 7px 3px rgba(0, 0, 0, 0.44);
  cursor: pointer;
  border-radius: 5px;
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  position: relative;

  .addToCartButton {
    /* position: absolute;
    top: 2%;
    right: 3%; */
    /* border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #0d47a1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; */
  }

  .imageContainer {
    height: 65%;
    width: 100%;
    display: flex;

    img {
      height: 100%;
      width: inherit;
      object-fit: contain;
    }
  }

  .productCardText {
    height: auto;
    margin: 2rem 0 auto 0;
    color: #222;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35%;

    &:before {
      content: '';
      position: absolute;
      top: -15%;
      left: 0;
      height: 2px;
      width: 2rem;
      background-color: #0d47a1;
      border-radius: 3px;
      margin-bottom: 2rem;
    }

    .productCardTitle {
      font-size: 1.2em;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .productCardPrice {
      margin-top: 0.5rem;
      font-weight: 900;
      font-size: 1.2em;
    }
  }
}
