@mixin buttonStandardStyle {
  cursor: pointer;
  background-color: #0d47a1;
  color: white;
}

.buttonGoTo {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  @include buttonStandardStyle;
}

.buttonAddToCart {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include buttonStandardStyle;
}
